.cards-of-people{
    width: 70%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .cart {
    width: 250px;
    margin: 0 auto;
    background: white;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Croissant One', cursive;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .cart-item {
    position: relative;
    overflow: hidden;
  }
  .cart img {
    display: block;
    height: 300px;
  }
  .cart-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
  }
  .button {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
  }
  .button:before {
    margin-right: 10px;
  }
  .cart-item:hover .cart-buttons {
    opacity: 1;
  }
  .cart-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
  }
  .button:hover {
    background: black;
  }
  .cart-title {
    color: #5e5e5e;
  }
  .cart-title p {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    margin: 15px 0 5px;
    padding-bottom: 7px;
    display: block;
    position: relative;
  }
  .cart-title p:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #2e2e2e;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
  }

  @media (max-width: 800px) {
    .cards-of-people{ 
        width: 100%;
    }
    
  }